{% extends 'baseTemplate.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Contact Us</h2>
    <p>If you have any questions, please feel free to reach out to us using the contact information provided below.</p>

    <div class="row">
        <div class="col-md-6">
            <h3>Our Contact Information</h3>
            <p><strong>Email:</strong> support@leaderai.com</p>
        </div>
        <div class="col-md-6">
            <h2>About Dr. Kevin Modlin</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <p>Dr. Kevin Modlin, a respected professor of International Politics and a global affairs analyst, leads Modlin Global Analysis, LLC. He empowers businesses and government agencies with insightful analysis and strategic guidance, navigating the complexities of international relations.</p>
                    <p>Dr. Modlin is pioneering a groundbreaking custom AI tool specifically designed to enhance the research and analysis of world leaders. Drawing from research and statements from China’s Xi Jinping, this innovative project promises to revolutionize how we study global leaders.</p>
                    <p>His expertise, honed by a Ph.D. in International Relations and Capitol Hill experience, bridges the gap between theory and action, offering clients invaluable strategies for international success.</p>
                    <p><strong>He can be reached with questions:</strong> <a href="mailto:kevinmodlin@modlinglobalanalysis.com">kevinmodlin@modlinglobalanalysis.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
