{% extends 'baseTemplate.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h2>Choose Your LeaderAI Plan</h2>
    <p class="lead">Select the plan that best suits your needs.</p>
    
    <div class="row mt-5">
        <!-- Insight Plan -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="my-0 font-weight-normal">Insight</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$35 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Weekly/Monthly Users</li>
                        <br>
                        <li>Newsletter of the AI model of Xi jinping responding to major news in China. Every weekday</li>
                        <br>
                        <li>Periodic Access to AI (usage quota 50 queries a month)</li>
                        <br>
                        <li>Responsive Customer Service</li>
                        <!-- <br>
                        <li>(Signup for 14 day trial)</li> -->
                    </ul>
                    <a href="{% url 'subscribe_insight' %}" class="btn btn-lg btn-block btn-outline-primary" style="color: white">Subscribe</a>
                </div>
            </div>
        </div>
        
        <!-- Professional -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-success text-white">
                    <h4 class="my-0 font-weight-normal">Professional</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$225 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Normal model use with prompts for research purposes(usage quota 500 queries a month)</li>
                        <br>
                        <li>General Recorded Training</li>
                        <br>
                        <li>Responsive Customer Service</li>
                    </ul>
                    <a href="{% url 'subscribe_professional' %}" class="btn btn-lg btn-block btn-success">Subscribe</a>
                </div>
            </div>
        </div>

        <!-- Professional Plus -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-warning text-white">
                    <h4 class="my-0 font-weight-normal">Professional Plus</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$400 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>High model use with prompts for research and analytical purposes(usage quota 2000 queries a month)</li>
                        <br>
                        <li>Detailed Training Recorded video and live</li>
                        <br>
                        <li>Early Preview Access to updates and new models</li>
                        <br>
                        <li>Responsive Customer Service</li>
                        <br>
                        <li>Complimentary Newsletter</li>
                        <!--<br>
                        <li>(Education discount with emails with .edu address 20%</li>-->
                    </ul>
                    <a href="{% url 'subscribe_professional_plus' %}" class="btn btn-lg btn-block btn-warning" style="color: white">Subscribe</a>
                </div>
            </div>
        </div>

        <!-- Enterprise -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-danger text-white">
                    <h4 class="my-0 font-weight-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$750+ <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>(contact sales team)</li>
                        <br>
                        <li>Multiple Users</li>
                        <br>
                        <li>Custom Tools</li>
                        <br>
                        <li>Custom Inputs (Data</li>
                        <br>
                        <li>System Integration</li>
                        <br>
                        <li>Dedicated Servers</li>
                        <br>
                        <li>Responsive Customer Service</li>
                        <!--<br>
                        <li>(Education discount with emails with .edu address 20%</li>-->
                    </ul>
                    <a href="#" class="btn btn-lg btn-block btn-danger" style="color: white">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2>What is China’s Xi Jinping going to say and do next?</h2>
    <p class="lead">Problems Solved: A world leader just became less unpredictable</p>
    <p>Risk Mitigation: Tool to evaluate risks and consider contingencies involving China.</p>
    <p>Prediction: Your own policy tool of how Xi Jinping would react to events.</p>
    <p>Thorough: Rigorous research of General Secretary Xi Jinping.</p>
    <p>Customizable: Additional inputs to guide the model for specific applications.</p>
    <p>Time: Detailed, insightful, and grounded research statements.</p>

    <h3>See below how the model outperforms Chat GPT 4, Gemini, and Llama 3</h3>

    <h4>Features:</h4>
    <ul>
        <li>The model is based on Xi Jinping’s words and actions based on publicly available information.</li>
        <li>Reinforced by primary documents of statements, speeches, and writings from Xi Jinping.</li>
        <li>Continuously iterated with information fine-tuned by subject matter experts and machine learning professionals.</li>
        <li>Trained on top of open source and open license LLM.</li>
    </ul>

    <h4>What you get from General models vs. LeaderOracle</h4>
    <style>
        .custom-table th,
        .custom-table td {
            color: white;
            background-color: #343a40;
        }
    </style>
    <table class="table table-bordered custom-table">
        <thead>
            <tr>
                <th></th>
                <th>Large General AI</th>
                <th>LeaderOracle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cost</td>
                <td>Training a very large LLM from scratch requires:<br>
                    – millions of dollars of cloud computing expenses<br>
                    – associated staffing costs</td>
                <td>Starting with a smaller LLM and fine-tuning it for our specific needs is much more cost-effective.</td>
            </tr>
            <tr>
                <td>Efficiency</td>
                <td>Hundreds of billions of parameters:<br>
                    – require vast system memory<br>
                    – generate text predictions slowly unless large and expensive machines host models in production</td>
                <td>Fewer parameters lead to:<br>
                    – faster response times<br>
                    – lower response costs<br>
                    – accurate the first time</td>
            </tr>
            <tr>
                <td>Data Provenance</td>
                <td>Large corporations that train LLMs typically do not disclose all the data sources used to train the model.</td>
                <td>LeaderOracle.ai:<br>
                    – All training data is publicly available<br>
                    – Reinforced with retrieval that checks accuracy and draws from primary documents</td>
            </tr>
            <tr>
                <td>Frequency of Model Updates</td>
                <td>Due to high costs and long training time frames, content is often months or longer out-of-date.</td>
                <td>Using a fine-tuned model for a specific purpose instead of a larger one means the model is frequently updated.</td>
            </tr>
            <tr>
                <td>Hallucination</td>
                <td>Because they are designed to handle conversations about any arbitrary topic, these LLMs have been shown to hallucinate, or generate factually incorrect responses.</td>
                <td>Using an LLM fine-tuned for a particular purpose helps mitigate hallucinations. It is designed to respond to questions within its area of expertise. It asks for user clarification instead of drawing assumptions that produce hallucination issues.</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
